# Obsidian workspace & state
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache/

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# LiveSync credentials & local state
.obsidian/plugins/obsidian-livesync/data.json
